/* Color Palatte
russian-violet: #110A3Eff;
dark-cyan: #5E9195ff;
paynes-gray: #436883ff;
ash-gray: #97A09Bff;
desert-sand: #E0BBA3ff;
bone-white #F9F6EE; */


img[id=tristan] {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 100px;
    width: 15rem;
    height: 15rem;
}

img[id=github] {
    width: 24px;
}

p[id=repo] {
    text-align: left;
}

a[id=repo] {
    text-align: left;
}

h1,
h2 {
    line-height: 0;
}


/* unvisited link */
a:link {
    color: #E0BBA3ff;
  }
  
  /* visited link */
  a:visited {
    color: #5E9195ff;
  }
  
  /* mouse over link */
  a:hover {
    color: #436883ff;
  }

html {
    background-image: url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 75%;
}

body {
    font-family: "Roberto", sans-serif;
	font-style: normal;
	font-size: 1rem;
    margin: 0 auto;
    width: 100%;
}

hr {
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #97A09Bff;
    border-bottom: 1px solid #97A09Bff;
 }

/* IDs */
#wrapper {
    margin: 2rem auto;
    width: 85%;
}

/* Classes */

.container,
.container-repo {
    display: grid;
    color: #E2DFD2;
    background-color: #110A3Eff;
    border-radius: 15px;
    padding: 15px;
    margin-top: 2vh;
}

.container {
    text-align: center;
}

.container-repo {
    text-align: left;
}

.inner-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.inner-container-three-row {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.navbar {
    align-items: center;
    background-color: #5E9195ff;
    color: #FFF;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 0.5rem 1rem;
}

.nav-links {
    background-color: #5E9195ff;
    display: none;
    grid-template-columns: 1fr;
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 100%;
}

.nav-links ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    border-bottom: 1px solid #97A09Bff;
}

.nav-links a {
    color: #FFF;
    display: block;
    padding: 1rem;
    text-decoration: none;
}

.nav-links a:hover {
    color: #B3F2FF;
}

.hamburger {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
}

.github-button {
    justify-self: end;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    #wrapper {
        width:85%;
    }    
    
    .navbar {
        grid-template-columns: auto 2fr auto;
    }

    .nav-links {
        background: none;
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-self: end;
        position: static;
        width: auto;
    }

    .nav-links ul {
        gap: 1rem;
        grid-template-columns: repeat(4, auto);
    }

    .nav-links li {
        border: none;
    }

    .nav-links a {
        padding: 0;
    }

    .hamburger {
        display: none;
    }
    
    html {
        background-size: 225vh;
    }
}